.eunit
*.o
*.beam
*.plt
erl_crash.dump
rebar3.crashdump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# macOS
.DS_Store

# editor
.vscode/
.idea/

# tests generated 
_build/test/cover/
